<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <div id="sign-up-container">
    <!-- action: the URL that processes the form submission -->
    <form action="/home" method="post" autocomplete="off">
      hello
    </form>
  </div>
</body>
</html>